*{
    margin: 0;
    padding: 0;
}
li {
    list-style-type:none;
}
.lunbo-main {
    background-color: #fff;
    width: 990px;
    margin: 0 auto;
    box-shadow: 0 0 5px #666;
}
.lunbo-text p {
    color: #444;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-family:"Arial";
    text-align: center;
}
.lunbo-img {
    width: 990px;
    overflow: hidden;
}
.lunbo-img ul {
    width: 3960px;
    transition: all .8s;
}
.lunbo-img li {float: left;}
.lunbo-tab {
    width: 100%;
    background-color: #f2f2f2;
    height: 40px;
}
.lunbo-tab ul {
    width: 200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.lunbo-tab li {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    cursor:pointer;
}
.lunbo-tab li.curr {
    background-color: #ddd;
}
.lunbo-tab li.curr span {
    display: block;
    position: absolute; 
    width:0;
    height:0;
    border-width:15px;
    border-style:solid;
    border-color:transparent  transparent  transparent #fff ;/*透明 黄 透明 透明 */
   transform: rotate(90deg);
   top:-7px;
}